*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.calculator{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(205, 204, 204, 0.5);
    background-image: linear-gradient(to bottom, #e0e0e0, #ac9801);
}
#result{
    font-size: 2.5rem;   
}
#label{
    font-size: 1.2rem;
}
#input{
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0 20px;
}
#buttonCalc{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: #906d06;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}
#buttonCalc:hover{
    background-color: #6c5203;
}